html,
body {
  margin: 0;
  font-size: 10px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

#root,
.App {
  height: 100%;
  width: 100%;
}

/* ----------------------------- */
/* ----------------------------- */
/* Navbar Design */
/* ----------------------------- */
/* ----------------------------- */

.nav-container {
  color: #ffffff;
  z-index: 100;
  text-transform: uppercase;
  height: 8rem;
  margin: 0 auto;
  padding-top: 2rem;
  background: rgba(17, 17, 17, 0.9);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin: 1rem auto;
  border-bottom: 1px solid #ffffff;
}

.nav a {
  margin-bottom: 0.6rem;
}

.nav__title {
  font-size: 3rem;
  padding-bottom: 1rem;
  font-weight: 900;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__links div {
  margin-bottom: -5px;
  border-bottom: 3px solid transparent;
  margin-left: 5rem;
  font-size: 1.4rem;
  height: 2.7rem;
}

.nav__links div:hover {
  border-bottom: 3px solid #ffffff;
}

.nav__links div a,
.nav a {
  color: #ffffff;
  text-decoration: none;
}

.nav__links__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -0.75rem !important;
  height: 3rem !important;
}

.nav__links__cart span {
  font-size: 1.7rem;
  margin-left: 1.3rem;
  padding-bottom: 0.5rem;
}

.nav__links__cart__img {
  width: 2rem;
  height: 2rem;
  padding-bottom: 0.5rem;
}

/* ----------------------------- */
/* ----------------------------- */
/* HOME Page Design */
/* ----------------------------- */
/* ----------------------------- */

.home {
  height: calc(100% - 10rem);
  background: rgba(17, 17, 17, 0.9);
  color: #ffffff;
}

.home__content {
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.home__content__details {
  position: relative;
  height: 45rem;
  width: 59rem;
}

.home__content__details__hello {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 5rem;
  height: 38rem;
}

.home__content__details__hello span {
  transform: rotateZ(-90deg);
  font-size: 1.7rem;
  margin: 3rem 0;
}

.home__content__details__hello__block {
  border: 1px dashed #ffffff;
  flex: 1;
}

.home__content__details__title {
  position: absolute;
  top: 10%;
  left: 12rem;
}

.home__content__details__title span {
  font-size: 6rem;
}

.home__content__details__signup {
  position: absolute;
  top: 50%;
  left: 12rem;
}

.home__content__details__signup span {
  text-transform: none;
  font-size: 1.7rem;
}

.home__content__details__signup__form {
  margin-top: 3rem;
}

.home__content__details__signup__form input {
  height: 3rem;
  width: 60%;
  margin-right: 1.5rem;
  margin-bottom: 0;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
}

.home__content__details__signup__form button {
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.home__content__details__success {
  margin-top: 3rem;
  width: 70%;
  padding: 1.5rem;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-align: left;
  text-transform: none;
}

.home__content__details__success span {
  font-size: 1.8rem;
}

.home__content__animation {
  position: relative;
  height: 60rem;
  width: 60rem;
  overflow: hidden;
}

.home__content__animation .orbit,
.planet {
  position: absolute;
  height: 60rem;
}

.home__content__animation__orbit-1,
.home__content__animation__planet-1 {
  right: -20rem;
}

.home__content__animation__orbit-2,
.home__content__animation__planet-2 {
  right: -15rem;
}

.home__content__animation__planet-1 {
  animation: rotation 20000ms infinite linear 0s;
}

.home__content__animation__planet-2 {
  animation: rotation 30000ms infinite linear 0s;
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-359deg);
  }
}

/* ----------------------------- */
/* ----------------------------- */
/* POSTERS Page Design */
/* ----------------------------- */
/* ----------------------------- */

.posters h1 {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.posters__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.poster-detail {
  margin: 2rem;
  border: 2px solid #000;
  text-align: center;
  width: 90rem;
}

.poster-detail__name {
  font-size: 3.5rem;
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.poster-detail__img img {
  width: 50%;
  display: block;
  margin: 3rem auto;
  box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.35);
}

.poster-detail__pricing {
  width: 28%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.poster-detail__price {
  font-size: 2.6rem;
  font-weight: 900;
}

.poster-detail__notice-badge {
  background-color: #ff5c5f;
  padding: 0.8rem;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 700;
  margin: 0.5rem;
}

.poster-detail__description {
  width: 75%;
  margin: 2rem auto;
  font-size: 2.5rem;
}

.poster-detail__dimensions {
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem;
}

.poster-detail__buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 38%;
  margin: 2rem auto;
}

.poster-detail__buy .quantity {
  width: 5rem;
  height: 5rem;
  padding-left: 0.7rem;
  margin: 1rem;
  border-style: solid;
  border-color: #000;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  font-size: 2rem;
}

.poster-detail__buy .quantity::-webkit-inner-spin-button {
  opacity: 1;
}

.add-to-cart-btn {
  padding: 1.7rem;
  margin: 1rem;
  border: 1px solid #000;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
}

.buy-now-link {
  padding: 1.7rem;
  margin: 1rem;
  border: 1px solid #000;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.poster-add-success {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 25%;
  background-color: #74e774;
}

.poster-add-success img {
  width: 2.8rem;
  height: 2.8rem;
}

.poster-add-success span {
  font-size: 2rem;
  color: #0e830f;
}

/* ----------------------------- */
/* ----------------------------- */
/* CART Page Design */
/* ----------------------------- */
/* ----------------------------- */

.cart__container {
  max-width: 90rem;
  margin: 5rem auto;
  border: 2px solid #000;
}

.cart__container h1 {
  margin: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
}

.empty-cart {
  margin: 5rem;
  font-size: 2.5rem;
  text-align: center;
}

.cart__poster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cart__poster-img {
  width: 25%;
  margin: 3rem;
}

.cart__poster-img img {
  width: 100%;
}

.cart__poster__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.cart__poster-name-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart__poster-name {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.cart__poster-quantity {
  font-size: 2rem;
  margin: 1rem;
}

.cart__poster-price {
  font-size: 2rem;
}

.cart__total {
  display: flex;
  margin: 3rem auto;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  width: 75%;
}

.cart__poster-remove {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: #ff5c5f;
  cursor: pointer;
  outline: none;
}

/* ----------------------------- */
/* ----------------------------- */
/* CONTACT Page Design */
/* ----------------------------- */
/* ----------------------------- */

.contact-container {
  max-width: 66rem;
  margin: 5rem auto;
}

.contact-container h1 {
  font-size: 5rem;
}

.contact-container p {
  font-size: 2.5rem;
}

.contact-form-container {
  margin-top: 5rem;
}

.contact-form label {
  font-size: 1.3rem;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.contact-form input,
textarea {
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
  border-style: none none none solid;
  border-width: 1px 1px 0 3px;
  border-color: transparent;
  border-radius: 0;
  background-color: #f0f3f7;
  transition: background-color 150ms;
  outline: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.contact-form textarea {
  height: 15rem;
}

.contact-submit {
  padding: 1.5rem;
  font-size: 1.5rem;
  background: transparent;
  border: 1px solid #000;
  letter-spacing: 2px;
  cursor: pointer;
  outline: none;
}

.contact-success {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 45%;
  background-color: #74e774;
}

.contact-success img {
  width: 2.5rem;
}

.contact-success span {
  font-size: 2rem;
  color: #0e830f;
}

@media only screen and (max-width: 1024px) {
  .home__content__details__title span {
    font-size: 5rem;
  }
}
